*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    height: 100vh;
    z-index: 0;
}
button{
    border:none;
    background-color:#0F5257;
    text-align: center;
    color:#ffffff;
}
#map{
    width: 100%;
    height: 100%; 
    position: absolute;
    z-index: 1;
} 
#search{
    position: absolute;
    z-index: 2;
    display: flex;
    transition: all .4s ease-in-out;
}
.search{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 1px 2px #333333;
}
.search > input{
    width: 90%;
    height: 100%;
    border:none;
    background-color:#FFFFFF;
    text-align: center; 
}
.search > button{
    width: 50%;
    height: 100%;
}
.result{
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 40px;
    background-color: #48A9A6;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.result > div{
    display: flex;
    flex-direction: row; 
    width: 85%;
}
.result > div > p{
    width: 30%;
    text-align: center;
    color: #FFFFFF;
}
.result > div > p:nth-of-type(3),.result > div > p:nth-of-type(1){
    width: 40%;
}
.result > button{
    width: 15%;
    height: 100%;
}
